<!--<div class="collapse" id="collapseMenu">
    <ul class="wiwet-navigation">
        <li class="hidden-lg"><a class="btn" role="button" data-toggle="collapse" href="#collapseMenu" aria-expanded="false" aria-controls="collapseMenu"><i class="fa fa-2x fa-close"></i></a></li>
        <li><a href="http://ohni.io">Home</a></li>
       <li><a href="@Url.Action("Images", "Home")">App View</a></li>
        
<li><a href="@Url.Action("Exchanges", "Home")">Exchanges</a></li>
<li><a href="@Url.Action("Referrals", "Home")">Referrals</a></li>
<li><a href="">UI ELEMENTS</a></li>
 <li class="dropdown pages-menu">
            <a href="#" data-toggle="dropdown" class="currency-trigger" aria-haspopup="true" aria-expanded="false">
                <span>PAGES</span>
            </a>
            <ul class="dropdown-menu pages-dropdown" aria-labelledby="dLabel">
                <li><a href="@Url.Action("BlankPage", "Home")">Blank Page</a></li>
                <li><a href="@Url.Action("Error", "Home")">Error Page</a></li>
                <li><a href="@Url.Action("PageNotFound", "Home")">Page Not Found</a></li>
            </ul>
        </li>
            
        <li class="visible-lg"><a class="btn" role="button" data-toggle="collapse" href="#collapseMenu" aria-expanded="false" aria-controls="collapseMenu"><i class="fa fa-2x fa-close"></i></a></li>-->
    </ul>
</div>
